html, body {
    background-color: rgb(242, 243, 248);
}
#searchbar {
    background-color: #0D2149;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 40px;
    height: 100px;
}

#industryfilter {
    width: 100px;
    font-size: 10px;
    margin-left: 250px;
    height: 5px;
    padding-top: 10px;
    margin-top: 30px;
    color: black;
}

#frameworkfilter {
    width: 100px;
    font-size: 10px;
    margin-left: 375px;
    color: black;
}

#companyfilter {
    width: 570px;
    font-size: 10px;
    margin-left: 500px;
    height: 5px;
    color: black;
    margin-top: -38px;
}

#gobutton {
    background-color: #B4B2FC;
    margin-left: 820px;
    margin-top: -27px;
    color: #0D2149;
    font-weight: bold;
}

#recentlyviewedcontainer {
    color: #0D2149;
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
}

#listcontainer {
    color: #0D2149;
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
}