.ESGInfo-container {
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ESGInfo-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}



.ESGInfo-container p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ESGInfo-title, .ESGReporting-container, .ESGScore-containers {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 400px;
    padding: 10px 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.ESGCategory-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: orange;
    margin-bottom: 10px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.ESGCategoryImg{
    width: 300px;
    height: 300px;
    margin-left: 0px;
}

.ESGCategory-Text {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}



.ESGScore-ext-raise-button:hover,
.ESGScore-ext-raise-button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffc279; 
  transform: translateY(-0.25em);
}

.ESGScore-ext-raise-button {
  --color: #ffa260;
  --hover: #ffc279; 
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: var(--color);
  transition: 0.25s;
  cursor: pointer;
}

.ESGScore-ext-raise-button:hover,
.ESGScore-ext-raise-button:focus { 
  border-color: var(--hover);
  color: #fff;
}

.ESGScore-externalLinks-container {
  color: #fff;
  background: hsl(227, 10%, 10%);
  font: 300 1em 'Fira Sans', sans-serif;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
h1 {
  font-weight: 400;
}
