.company-long-summary {
    border-right: solid 1px gray;

}

.company-summary-container{
    display: flex;
    flex-direction: row;
    background-color: #e7f1fb;
    max-width: 53vw;
    height: 400px;
}

.company-long-summary{
    overflow-y: scroll;
}

.company-live-metadata {
    overflow-y: scroll;
}