@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.cfw-button {
    border-radius: 10px;
    margin-bottom: 2px;
    border: 1px solid black;
    min-width: 150px;
    height: 30px;
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
    padding: 3px 3px;
    cursor: pointer;
    font-family: Inter;
}

.cfw-button:hover {
    border: 2px solid #bed4e9;
    padding: 2px 2px;
    background-color: #bed4e9;
}

.cfw-button-includedE {
    border-color: #33b091;
    background-color: #33b091;
    color: white;
}

.cfw-button-includedS {
    border-color: #3373b0;
    background-color: #3373b0;
    color: white;
}

.cfw-button-includedG {
    border-color: #5f49b6;
    background-color: #5f49b6;
    color: white;
}

.cfwbtn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: row;
}

.cfw-esgdescriptor {
    display: flex;
    flex-direction: row;

    width: 100%;

}

.cfw-esgdescriptor-content {
    margin-bottom: 0px;
    position: relative;
    font-weight: bold;
}

.cfw-button-www {
    border-radius: 10px;
    font-family: Inter;
    cursor: pointer;
    margin-top: 5px;
    border: solid 1px #0c3960;
    padding: 4px 7px;
}


.cfw-button-www:hover {
    background-color: #bed4e9;
    color: white;
}

.cfw-top-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 3px;
}

.cfw-top-controls button {
    border: none;
    cursor: pointer;
}