@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.left-panel-button {
    background-color: #3373b0;
    font-family: Inter;
    border-radius: 15px;
}