@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.modalContent {
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 10px;
    align-items: center;
}

.modalHeaderContent{
    display: flex;
    flex-direction: row; 
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.modifyWatchlists {
    position: absolute;
    bottom: 0;
    background-color: #bed4e9;
    height: 50px;
    padding: 3px 5px;
    display: flex;
    margin-bottom: 3px;
    width: 95%;
    border-radius: 10px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 300px;
    width: 100%;
    align-items: center;
}

#closeListModal-button {
    position: absolute;
    right: 3px;
    color: black;
}

.list-button {
    margin-bottom: 5px;
    width: 90%;
    color: black;
    margin: 5px 5px;
    border: solid 1px black;
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px; /* Adjust padding as needed */
    background-color: #fff; /* Adjust background color as needed */
    cursor: pointer;
    font-family: Inter;
    font-size: 1em;
}

.watchList-button:hover {
    border: solid 2px #3373b0;
    padding: 19px 15px;
}

.checkedwLbutton {
    background-color: rgb(196, 244, 244);
}

.list-button svg {
    flex-shrink: 0;
}

#listDescriptorText {
    font-family: Inter;
    padding-left: 25px;
    margin-top: 10px;
    margin-bottom: 8px;
    width: 90%;
    font-size: 1.5em;
}

#addNewlistButton {
    font-family: Inter;
}

#addNewlistButton:hover {
    background-color: #0c3960;
    color: white;
}

#setAddlistbutton {
    font-family: Inter;
}